/* HERE YOU CAN DEFINE YOUR OWN CUSTOM VARIABLES FOR COLORS */

/* You can uncomment and change these variables to change the theme appearance */

// /* body color and background */
$body-bg: #fffff0;
$body-color: #1c110a;

// /* main palette */
$primary: #df2935;
$secondary: #496a81;
$dark: $body-color;
$light: $body-bg /* used for text in dark sections */;

// /* others */
// $input-focus-border-color: $body-color;
// $input-btn-focus-box-shadow: 0 0 1px 2px $body-color;
// $border-color: tint-color($body-color, 85%);
// $input-bg: tint-color($light, 15%);
